#map
  width: 100%
  height: 470px
.container
  margin: auto
  width: 100%
  max-width: 1140px
.section-heading
  position: relative
  margin: 0
  text-align: center
  text-transform: uppercase
  font-family: "Roboto Bold" ,sans-serif
  font-weight: normal
  font-size: 20px
  color: #243342
  &--light
    color: #ffffff
.link
  text-decoration: none
  &__icon
    display: inline-flex
    padding: 6px
    border-radius: 5px
    background-color: $header-text
    color: #ffffff
    >i
      font-size: 1.14286rem
  &__text
    &--menu
      display: none
.button
  border: none
  border-radius: 30px
  cursor: pointer
  background-color: $bright-color
  font-family: "Roboto Bold", sans-serif
  color: #243342
.form
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  border: 1px solid #999999
  border-bottom: 0
  &::before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    height: 1px
    background-color: #999999
  &::after
    content: ""
    position: absolute
    bottom: 0
    right: 0
    height: 1px
    background-color: #999999
.input
  border: none
  border-radius: 30px
  padding: 16px 50px
  padding-right: 0
  width: 100%
  font-family: "Roboto Thin", sans-serif
  color: #606060
  &-container
    position: relative
  &-icon
    position: absolute
    top: 15px
    left: 20px
    width: 20px
    text-align: center
    font-size: 20px
    color: #7B7B7B
.menu-button
  position: relative
  border-radius: none
  width: 24px
  height: 3px
  background-color: #ffffff
  z-index: 7
  &::before
    content: ""
    position: absolute
    bottom: 7px
    left: 0
    width: 24px
    height: 3px
    background-color: #ffffff
  &::after
    content: ""
    position: absolute
    top: 7px
    left: 0
    width: 24px
    height: 3px
    background-color: #ffffff
  &--active
    background-color: $bright-color
    &::before, &::after
      background-color: $bright-color
.close-button
  position: relative
  border: none
  width: 17px
  height: 18px
  background: none
  cursor: pointer
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 20px
    height: 3px
    transform: rotate(45deg) translate(7px, 7px)
    background-color: #ffffff
    cursor: pointer
  &::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 20px
    height: 3px
    transform: rotate(-45deg) translate(-7px, 7px)
    background-color: #ffffff
    cursor: pointer
.image
  width: 100%
.arrow-prev
  position: absolute
  display: inline-block
  width: 17px
  height: 50px
  background-image: url("../img/ui/arrow-left.png")
  opacity: 0.2
  z-index: 1
  &--desktop
    display: none
.arrow-next
  position: absolute
  display: inline-block
  width: 17px
  height: 50px
  background-image: url("../img/ui/arrow-right.png")
  opacity: 0.2
  z-index: 1
  &--desktop
    display: none
@media (min-width: 794px)
  .menu-button, .close-button
    display: none
@media (min-width: 992px)
  .section-heading
    margin: auto
    font-family: "Roboto Medium", sans-serif
    font-size: 30px
    &::before
      content: ""
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-6px)
      width: 165px
      height: 12px
      background-image: url("../img/ui/section-heading-line.png")
    &::after
      content: ""
      position: absolute
      top: 50%
      right: 0
      transform: translateY(-6px) rotate(180deg)
      width: 165px
      height: 12px
      background-image: url("../img/ui/section-heading-line.png")
  .link
    &__text
      &--menu
        display: inline-block
        margin-left: 5px
        font-size: 1.0714rem
        color: $header-text
    &__icon
      background-color: transparent
      >i
        font-size: 1.2143rem
        color: $header-text
  .button
    &:hover
      background-color: adjust-hue($bright-color, -9)
  .arrow-prev
    &--desktop
      display: block
      position: absolute
      border: none
      padding: 0
      width: 15px
      height: 55px
      cursor: pointer
      background: none
      z-index: 3
      >.arrow-icon
        &::before
          content: ""
          position: absolute
          top: 25%
          left: -50%
          width: 30px
          height: 2px
          background-color: $bright-color
          transform: rotate(120deg)
        &::after
          content: ""
          position: absolute
          bottom: 25%
          left: -50%
          width: 30px
          height: 2px
          background-color: $bright-color
          transform: rotate(-120deg)
  .arrow-next
    &--desktop
      display: block
      position: absolute
      border: none
      padding: 0
      width: 15px
      height: 55px
      cursor: pointer
      background: none
      z-index: 3
      >.arrow-icon
        &::before
          content: ""
          position: absolute
          top: 25%
          left: -50%
          width: 30px
          height: 2px
          background-color: $bright-color
          transform: rotate(-120deg)
        &::after
          content: ""
          position: absolute
          bottom: 25%
          left: -50%
          width: 30px
          height: 2px
          background-color: $bright-color
          transform: rotate(120deg)