*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none !important
html
  font-family: "Roboto Light", sans-serif
  font-size: 14px
::-moz-placeholder, :-moz-placeholder
    opacity: 1
.rouble
  font-family: rouble
  font-weight: normal